Repository IamApollo2023/qr-attendance: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

chore: format package.json and eslint.config.js
  eslint.config.js
Due: pnpm exec prettier --write

fix: rename eslint.config.js to .mjs and remove husky hooks
  eslint.config.mjs
Due: none

fix: remove duplicate eslint.config.js, keep only .mjs version
  eslint.config.js
Due: pnpm exec prettier --write

Remove old eslint.config.js, using .mjs version instead
  eslint.config.js
Due: pnpm exec prettier --write

fix: resolve merge conflict in eslint.config.mjs - remove conflict markers
  eslint.config.mjs
Due: none

chore: remove ESLint completely - all configs, packages, and disable comments
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package.json
Due: pnpm exec prettier --write

sana gumana
  .husky/pre-commit
  app/(admin)/admin/attendance/page.tsx
  assets/c__Users_Paolo_Espero_AppData_Roaming_Cursor_User_workspaceStorage_eed6fd35fabd9c2e962153d52316b8ab_images__1A898486-AE15-4BE1-8F0B-CE64349F361C_-947a9dd7-777a-4e00-9443-69c370c2cdd3.png
  assets/c__Users_Paolo_Espero_AppData_Roaming_Cursor_User_workspaceStorage_eed6fd35fabd9c2e962153d52316b8ab_images__B389A858-7F60-401D-B1F6-C72D4385A511_-d59353bc-717c-478e-bf69-cd9e52039c1d.png
  components/AdminDashboard.tsx
  components/nav-main.tsx
  features/finance/components/OfferingsManagement.tsx
  features/finance/components/PledgesManagement.tsx
  features/finance/components/TithesManagement.tsx
  features/members/components/MemberAddDialog.tsx
  features/members/components/MemberForm.tsx
  features/members/hooks/useMemberForm.ts
  features/members/utils/memberSorters.ts
  lib/activityAlbums.ts
  lib/supabase-server.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

update pnpm
  pnpm-lock.yaml
Due: none

fixed button errors
  components/AdminLayout.tsx
  components/MemberLocationFields.tsx
  components/ui/alert-dialog.tsx
  components/ui/date-input.tsx
  components/ui/index.ts
  features/members/components/MemberAddDialog.tsx
  features/members/components/MemberForm.tsx
  features/members/components/MemberTable.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix geo map bug
  app/globals.css
  components/GeoMap.tsx
  components/MembersManagement.tsx
  components/ui/alert-dialog.tsx
  components/ui/date-input.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix lint error
  components/ui/date-input.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat: Enhance event system with realtime improvements, UI animations, and better error handling
  COMMIT_MESSAGE.md
  components/EventAttendanceCards.tsx
  components/EventCard.tsx
  components/QRScanner.tsx
  sql/comprehensive-rls-fix.sql
  sql/database-audit.sql
  sql/diagnose-rls-issue.sql
  sql/final-rls-fix.sql
  sql/fix-scanner-user-role.sql
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat: Add age group detail report page with attendance table
  COMMIT_MESSAGE.md
  app/(admin)/admin/report/[ageGroup]/page.tsx
  app/(admin)/admin/report/page.tsx
  components/AgeGroupCard.tsx
  components/AgeGroupDetailReport.tsx
  components/ReportsManagement.tsx
  components/app-sidebar.tsx
  components/site-header.tsx
  components/ui/morphing-card-stack.tsx
  lib/reports.ts
  next.config.js
  sql/comprehensive-rls-fix.sql
  sql/database-audit.sql
  sql/diagnose-rls-issue.sql
  sql/final-rls-fix.sql
  sql/fix-scanner-user-role.sql
Due: pnpm exec eslint --fix, pnpm exec prettier --write

v3
  .gitignore
  app/page.tsx
  features/members/components/MemberAddDialog.tsx
  features/members/components/MemberEditDialog.tsx
  features/members/components/MemberForm.tsx
  features/members/hooks/useCSVImport.ts
  lib/constants.ts
  lib/members.ts
  lib/psgc.ts
  sql/add-attendee-classification.sql
  types/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

- Members can be scanned into multiple sequential events - Duplicate prevention only applies within the same event - No false positives when switching events - Memory cleanup when events change
  components/QRScanner.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

updated landing hero ui
  .gitignore
  app/globals.css
  app/page.tsx
  features/members/components/PrintDialog.tsx
  features/members/components/PrintQRModal.tsx
  public/font/RCLVeluxaSerif-Regular-BF694e48e357953.otf
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
